

    <div class="sidebar" data-color="azure" data-background-color="white" data-image="/assets/img/sidebar-1.jpg">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

          Tip 2: you can also add an image using data-image tag
      -->
        <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
                Creative Tim
            </a></div>
        <div class="sidebar-wrapper">
            <ul class="nav" id="nav-selector">
                <li class="nav-item ">
                    <a class="nav-link" href="/admin/dashboard/">
                        <i class="material-icons">dashboard</i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/admin/candidates/">
                        <i class="material-icons">person</i>
                        <p>Candidates</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/admin/companies">
                        <i class="material-icons">bubble_chart</i>
                        <p>Employers</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/admin/categories">
                        <i class="material-icons">library_books</i>
                        <p>Categories</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/admin/tables/">
                        <i class="material-icons">content_paste</i>
                        <p>Table List</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="./map.html">
                        <i class="material-icons">location_ons</i>
                        <p>Maps</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="./notifications.html">
                        <i class="material-icons">notifications</i>
                        <p>Notifications</p>
                    </a>
                </li>
                <li class="nav-item active-pro ">
                    <a class="nav-link" href="/admin/logout/">
                        <i class="material-icons">unarchive</i>
                        <p>Upgrade to PRO</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <script>
        (function (){
            document.addEventListener('DOMContentLoaded', function () {
                /* TO MAKE MENU ACTIVE DYNAMICALLY */
                var menu_nodes = document.querySelectorAll('#nav-selector > li > a');
                for( var i=0; i< menu_nodes.length; i++ ){
                    console.log(location.pathname, menu_nodes[i].getAttribute('href'))
                    if(location.pathname.startsWith(menu_nodes[i].getAttribute('href'))){
                        menu_nodes[i].parentElement.classList.add('active');
                        break;
                    }
                }
            })
        })()
    </script>


