<div class="follow-companiesec">
    <div class="follow-companies">
        <span class="close-follow-company"><i class="la la-close"></i></span>
        <h3>Follow Companies.</h3>
        <ul id="scrollbar">
            <li>
                <div class="job-listing wtabs">
                    <div class="job-title-sec">
                        <div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
                        <h3><a href="#" title="">Web Designer / Developer</a></h3>
                        <div class="job-lctn">Sacramento, California</div>
                    </div>
                    <a href="#" title="" class="go-unfollow">Unfollow</a>
                </div><!-- Job -->
            </li>
            <li>
                <div class="job-listing wtabs">
                    <div class="job-title-sec">
                        <div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
                        <h3><a href="#" title="">Tix Dog</a></h3>
                        <div class="job-lctn">Sacramento, California</div>
                    </div>
                    <a href="#" title="" class="go-unfollow">Unfollow</a>
                </div><!-- Job -->
            </li>
            <li>
                <div class="job-listing wtabs">
                    <div class="job-title-sec">
                        <div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
                        <h3><a href="#" title="">StarHealth</a></h3>
                        <div class="job-lctn">Sacramento, California</div>
                    </div>
                    <a href="#" title="" class="go-unfollow">Unfollow</a>
                </div><!-- Job -->
            </li>
            <li>
                <div class="job-listing wtabs">
                    <div class="job-title-sec">
                        <div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
                        <h3><a href="#" title="">Altes Bank</a></h3>
                        <div class="job-lctn">Sacramento, California</div>
                    </div>
                    <a href="#" title="" class="go-unfollow">Unfollow</a>
                </div><!-- Job -->
            </li>
            <li>
                <div class="job-listing wtabs">
                    <div class="job-title-sec">
                        <div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
                        <h3><a href="#" title="">StarHealth</a></h3>
                        <div class="job-lctn">Sacramento, California</div>
                    </div>
                    <a href="#" title="" class="go-unfollow">Unfollow</a>
                </div><!-- Job -->
            </li>
            <li>
                <div class="job-listing wtabs">
                    <div class="job-title-sec">
                        <div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
                        <h3><a href="#" title="">Altes Bank</a></h3>
                        <div class="job-lctn">Sacramento, California</div>
                    </div>
                    <a href="#" title="" class="go-unfollow">Unfollow</a>
                </div><!-- Job -->
            </li>
        </ul>
    </div>
</div>
